$breakpoints: (
  sm: "screen and (max-width: 575px)",
  md: "screen and (max-width: 750px)",
  lg: "screen and (max-width: 1200px)",
);

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
