.topics-list {
	max-width: 700px;
}
.topics-item {
	padding-bottom: 12px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
}
.topics-date {
	color: #cecece;
	font-size: 1rem;
	font-weight: bold;
}
.topics-title {
	color: #333;
	font-size: 1.4rem;
	font-weight: bold;
}