.l-section-wrapper{
  padding: 60px 0;
}
.l-content-wrapper{
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
}
.s-section-wrapper{
  width: 47.3%;
}
.section-img-wrapper{
  margin-bottom: 30px;
}